.bigDiv .contactForm {
  width: 80%;
  flex-shrink: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.bigDiv .contactForm .imgContactForm {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  display: none;
}
.bigDiv .contactForm .imgContactForm .bg {
  width: 100%;
  height: 100%;
  background: rgba(28, 30, 83, 0.5);
  padding-top: 96px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
}
.bigDiv .contactForm .imgContactForm .bg .headingContactForm {
  width: 70.73%;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 24px;
}
.bigDiv .contactForm .imgContactForm .bg .headingContactForm h1 {
  color: var(--White);
  font-family: Poppins;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 74px;
}
.bigDiv .contactForm .imgContactForm .bg .headingContactForm p {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.bigDiv .contactForm .formContactForm {
  width: 95%;
  flex-shrink: 0;
  background: #1c1e53;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 60px 50px 48px 50px;
}
.bigDiv .contactForm .formContactForm .objects {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;

}
.bigDiv .contactForm .formContactForm .objects h5 {
  color: #fff;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  margin-bottom: 16px;
}
.bigDiv .contactForm .formContactForm .objects p {
  color: var(--Grey);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 40px;
}
.bigDiv .contactForm .formContactForm .objects .input {
  width: 100%;
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
  outline: none;
}
.bigDiv .contactForm .formContactForm .objects .input form input[type="text"],
input[type="email"],
input[type="url"] {
  width: 100%;
  flex-shrink: 0;
  padding: 18.6px;
  outline: unset;
  border: unset;
  margin-bottom: 16px;
  border-radius: 8px;
  border: 1.5px solid rgba(255, 255, 255, 0.05);
  background-color: #1c1e53;
  padding-left: 32px;
  color: white;
}
.bigDiv
  .contactForm
  .formContactForm
  .objects
  .input
  form
  input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="url"]::placeholder {
  color: var(--Grey);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.5;
}
.bigDiv .contactForm .formContactForm .objects .input button {
  width: 100%;
  display: flex;
  padding: 15px 51px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 41px;
  background: #fcd980;
  color: #1b1c2b;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  margin-top: 23px;
  margin-bottom: 28px;
}
.bigDiv .contactForm .formContactForm .objects .formSpan {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.bigDiv .contactForm .formContactForm .objects .formSpan span a {
  color: var(--White, #fff);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  text-decoration: none;
}
