.featuresBigDiv {
  width: 100%;
  padding: 96px 60px 128px 60px;
  display: flex;
  flex-flow: column nowrap;
}
.featuresBigDiv .logoSection {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
}
.featuresBigDiv .logoSection .logoNumber {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
.featuresBigDiv .logoSection .logoNumber h3 {
  color: var(--Dark-blue);
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
}
.featuresBigDiv .logoSection .logoNumber p {
  color: var(--Dark-blue);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
}
.featuresBigDiv .logoSection .benefitlogos {
  display: grid;
  grid-template-rows: repeat(5, auto);
  row-gap: 40px;
}

.featuresBigDiv .benefit {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  row-gap: 48px;
  margin-top: 96px;
  margin-bottom: 128px;
}

.featuresBigDiv .benefit .benefitHeader h2 {
  color: var(--Dark-blue);
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
}
.featuresBigDiv .benefit .benefitCards {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, auto);
  row-gap: 32px;
  text-align: center;
}
.featuresBigDiv .benefit .benefitCards .BenefitCard {
  display: flex;
  flex-flow: column nowrap;
  padding: 50px 32.61px 48px 48.31px;
  background: var(--Grey);
}
.featuresBigDiv .benefit .benefitCards .BenefitCard .benefitCardSvg {
  width: 100%;
  margin-bottom: 26px;
}
.featuresBigDiv .benefit .benefitCards .BenefitCard h6 {
  color: var(--Dark-blue);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 12px;
}
.featuresBigDiv .benefit .benefitCards .BenefitCard p {
  color: var(--Dark-blue);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
}

 .bestInClass {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
  text-align: center;
}
 .bestInClass .bestinClassContent {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 16px;
}
 .bestInClass .bestinClassContent span {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  opacity: 0.87;
}
 .bestInClass .bestinClassContent h3 {
  color: #232536;
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
}
 .bestInClass .bestinClassContent p {
  color: var(--Dark-blue);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; 
}
.bestinClassImg{
  width: 100%;
}
.bestinClassImg img{
  width: 100%;
}
.FreeRevision{
    width: 100%;
    flex-shrink: 0;
    background: var(--Grey);
    padding: 50px 60px 128px 60px;
}
.bgcolorFeatures2{
    background: rgba(252, 217, 128, 0.10) !important;
}
.bgcolorFeatures1{
    background: var(--White) !important;
}