.caseStudiesImg{
    background: linear-gradient(131deg, #F4EDE1 16.74%, #98B1C6 103.17%);
    padding: 60px 88px 65px 88px;
}
.aboutProjectImg{
    background: linear-gradient(131deg, #F4EDE1 16.74%, #98B1C6 103.17%);
}