.Homehero {
  width: 100%;
  /* height: 668px; */
  flex-shrink: 0;
  background-color: var(--navbar);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  column-gap: calc(100% / calc(1280/60));
  padding: 125px 160px 125px 160px;
}
.Homehero .Herotext{
  display: flex;
  flex-flow: column wrap;
    width: 40%;
}
.Homehero .Herotext div{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}
.Homehero .Herotext  h1{
  color: var(--White);
  font-family: Poppins;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 74px;
  margin-bottom: 24px; 
}
.Homehero .Herotext  p{
  color: var(--White, #FFF);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
  margin-bottom: 48px; 
}
.Homehero .Herotext div button{
  display: inline-flex;
  padding: 16px 56px;
  justify-content: center;
  align-items: center;
  border-radius: 41px;
  background: #FCD980;
  color: #1B1C2B;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  margin-right: 40px;
}
.Homehero .Herotext div span a{
  color: var(--White);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; 
  margin-right: 16px;
  text-decoration: none;
}
.Homehero .illustration{
    width: 39.875%;
    margin-right: 160px;
}
.Homehero .illustration img{
  width: 100%;
  height: 100%;
}