.testimonials {
  width: 100%;
  flex-shrink: 0;
  background: #f9fafd;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  /* column-gap: 110px; */
  column-gap: calc(100% / calc(1280 / 110));
  padding: 57.5px 0;
}
.testimonials .heading {
  width: 20.4375%;
  flex-shrink: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  /* row-gap: 16px; */
  row-gap: calc(100% / calc(192 / 16));
}
.testimonials .heading div {
  width: 100%;
}
.testimonials .heading h3 {
  color: var(--Dark-blue);
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
}
.testimonials .heading p {
  color: var(--Dark-blue);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
}

.testimonials .mainSwiper {
  width: 52.7%;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  width: 100%;
  /* height: 506px; */
  flex-shrink: 0;
  background: #f9fafd;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  column-gap: 110px;
}


.testimonials .content {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  flex-flow: column wrap;
  row-gap: 48px;
}
.testimonials .content .contentHeading{
  width: 100%;
}
.testimonials .content .contentHeading h5 {
  color: var(--Dark-blue);
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
}
.testimonials .content .profile {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: 9.63px;
}

.testimonials .content .profile .name {
  width: 70%;
}
.testimonials .content .profile .swiperbtn{
  width: 20%;
}
.testimonials .content .profile .name p {
  color: var(--Dark-blue);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}
.testimonials .content .profile .name span {
  color: var(--Dark-blue);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; 
}



